body {
    font-family: 'Comic Sans', sans-serif;
    background-color: rgb(100, 181, 251);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.Banner {
    width: 100%;
    background-color: beige;
    text-align: center;
    padding: 20px 0;
    font-family: "Serif";
    font-size: 150%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Banner h1, .Banner p {
    margin: 0;
}

.loginContainer {
    background: white;
    padding: 20px 30px;
    border-radius: 8px;
    width: 350px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.loginContainer h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.formContainer {
    margin-bottom: 15px;
    text-align: left;
}

.formContainer input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.loginButton {
    width: 100%;
    padding: 12px;
    background-color: #89cd6ac0;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px;
}

.loginButton:hover {
    background-color: #457d2bd9;
}

.message {
    margin-top: 15px;
    text-align: center;
}
